{% extends 'base.html' %}
{% block title %}EMS Dashboard{% endblock %}

{% block content %}
<a href="{{ url_for('signup') }}">Create User</a>

<form method="POST" action="{{ url_for('check_in_out') }}">
    {% if user_checked_in %}
        <button type="submit">Check Out</button>
    {% else %}
        <button type="submit">Check In</button>
    {% endif %}
</form>

<h5>Currently Checked In:</h5>
{% if checked_in_users %}
    <ul>
        {% for user, checkin_date, login_time in checked_in_users %}
            <li>{{ user }} - Check in: {{ checkin_date }} at {{ login_time }}</li>
        {% endfor %}
    </ul>
{% else %}
    <p>No employees are currently checked in.</p>
{% endif %}





{% endblock %}